# Ignore virtual environment
.venv/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store  # For macOS
Thumbs.db  # For Windows
